* {
    margin: 0;
}

body {
    background-color: #F4F2F9;
}

.nav-bar-section {
    background-color: #5456A5;
}

.nav-bar {

    margin: 0px 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100%;
    max-width: 50px;
    height: auto;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list li {
    list-style: none;
    margin-right: 30px;

}

.nav-list a {
    text-decoration: none;
    color: white;
}

/* nav section finished */

/* top section start */
/* top player start */
.topsecton {
    margin: 50px 200px;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.top-player {}

.text-margin {
    margin-left: 40px;
    margin-bottom: 40px;
}

.color-text {
    color: #5456A5;
}

.player-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    align-items: center;
}

@media screen and (max-width: 1300px) {
    .player-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

.player-list li {
    list-style: none;
    display: inline-flex;
    align-items: center;
}

.player-list img {
    width: 100%;
    max-width: 100px;
    height: auto;
}

.player-list h4 {
    margin-left: 20px;
}

hr {
    border: 1px solid gray;
    margin: 20px;
}

/* top player finisehd */

/* top blog start */

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

@media screen and (max-width: 1300px) {
    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

.blog-details {
    display: flex;
    align-items: center;
}

.blog-details img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-right: 10px;
}

/* top blog finished */

/* latest course start */
.latest-course-section {
    /*margin: 50px 200px;
    */
    margin: 10px 200px;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.latest-course {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 20px;
}

@media screen and (max-width: 1300px) {
    .latest-course {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

.course {
    /* background-color: #5456A5; */
    height: 250px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 10px 10px 10px lightgray;
    padding: 30px;

}

.course img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.course-mini-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.star {
    display: flex;
}

.star li {
    list-style: none;
}

.star img {
    width: 100%;
    max-width: 20px;
    height: auto;
}

.time {
    display: flex;
    background-color: rgba(255, 0, 0, 0.169);
    padding: 5px 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.time img {
    width: 100%;
    max-width: 20px;
    height: auto;
}




/* latest course finished */